.git
.github
__pycache__
*.py[cod]
*.egg-info
dist/
build/
.venv/
venv/
.env
checkpoints/
wandb/
.mypy_cache/
.ruff_cache/
.pytest_cache/
tests/
locust/
requirements-train.txt
requirements-dev.txt
*.md
